name: Practice CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  read_the_file:
    runs-on: ubuntu-latest
    steps:
      - name: git clone
        uses: actions/checkout@v2
      - name: node setup
        uses: actions/setup-node@v6
      - name: node version
        run: node -v
      - name: read the txt file
        run: cat hello.txt
      - name: read new file
        run: |
          cd new-file
          cat hello2.txt